:root {

    --acent-color: #404BBF;
    --primary-acent-color: #E7E9FC;
    --secondary-acent-color: #4D5AE5;
    --tertiary-acent-color: #F4F4FD;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --tertiary-text-color: #FFFFFF;
}

body {
    font-family: var(--primary-font);
    background-color: var(--tertiary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    margin-bottom: 0;
}

